<!-- Setting the tab title for all pages with the parameter sent from the index.js file -->
<title><%= title %></title>
<!--Linking the stylesheet-->
<link rel="stylesheet" type="text/css" href="css/styles.css" />
