<head>
    <%- include("partials/header"); %>
    <link rel="stylesheet" type="text/css" href="css/aboutme.css" /> <!--Link for the CSS specific por the about me page-->
</head>
<body>
    <%- include("partials/content"); %>

    <section class="about">
        <img src="images/jose.jpg" height="25%">
        <h2>Jose Riera</h2>
        <p>
            I'm a 19-year-old aspiring software engineer from Ecuador, currently in my third semester of studying Software Engineering Technology. I've always been fascinated by the world of coding and the endless possibilities it offers. From crafting elegant algorithms to building innovative applications, I find immense joy in turning ideas into functional software. When I'm not immersed in lines of code, you can often find me exploring the natural beauty of Ecuador or delving into the latest tech trends. I believe that every line of code I write is a step towards shaping a better digital future, and I'm excited to see where this journey takes me.    
        </p>
        <a href="pdf/resume.pdf" target="_blank"><p>Check out my resume by clicking here!</p></a>
    </section>

    <%- include("partials/footer"); %>
    
</body>