<head>
    <%- include("partials/header"); %>
    <link rel="stylesheet" type="text/css" href="css/main.css" /> <!--Link for the CSS specific por the main page-->
</head>
<body>
    <%- include("partials/content"); %>
    
    <section class="welcome">
        <h1>Welcome to Jose's Portfolio</h1>
        <p>Explore my work and projects</p>
        <a href="/aboutme">Learn More About Me</a>
    </section>

    <section class="mission-statement">
        <h2>Mission Statement</h2>
        <p>My mission is to become serve my clients to the best of my abilities.</p>

    <img src="images/computer.jpg">




    

    <%- include("partials/footer"); %>
    
</body>