<head>
    <%- include("partials/header"); %>
</head>
<body>

    <p>WELCOME PEOPLE WOOOOOOO</p>

    <p><%= title %></p>




    <%- include("partials/content"); %>

    <%- include("partials/footer"); %>
    
</body>