<head>
    <%- include("partials/header"); %>
    <link rel="stylesheet" type="text/css" href="css/projects.css" /> <!--Link for the CSS specific por the projects page-->
</head>
<body>
<%- include("partials/content"); %>

<p class="textodisc">These are the biggest projects I have (NOT) worked on.</p>

<section class="projects">
    <section class="project">
        <img src="images/google.jpg">
        <h2>Google</h2>
        <p>Search Engine</p>
    </section>

    <section class="project">
        <img src="images/youtube.png">
        <h2>YouTube</h2>
        <p>Video Sharing Platform</p>
    </section>

    <section class="project">
        <img src="images/gmail.jpg">
        <h2>Gmail</h2>
        <p>Email Service</p>
    </section>
</section>
<br /><br /><br /><br /><br /><br /><br /><br />
<p class="textoabajo">Just as a small disclaimer, I did NOT work on any of these projects. I dont have any public projects and didn't know what to put here.</p>


    <%- include("partials/footer"); %>
    
</body>