<head>
    <!-- import partial -->
    <%- include("partials/header"); %>
    <link rel="stylesheet" type="text/css" href="css/projects.css" /> <!--Link for the CSS specific por the projects page-->
</head>
<body>
    <!-- import partial -->
<%- include("partials/content"); %>

<!-- A small title to make it look better -->
<h2 class="textodisc">These are the biggest projects I have (NOT) worked on.</h2>


<!-- Section of the projects -->
<section class="projects">
    <section class="project">
        <img src="images/google.jpg">
        <h2>Google</h2>
        <p>Search Engine</p>
        <p>I was responsible for designing an algorithm aimed at effectively blocking malicious content from appearing in the main search results.</p>
    </section>

    <section class="project">
        <img src="images/youtube.png">
        <h2>YouTube</h2>
        <p>Video Sharing Platform</p>
        <p>I was in charge of establishing and configuring the cloud storage system for uploaded videos, as well as managing the generation of video IDs for the URLs.</p>
    </section>

    <section class="project">
        <img src="images/gmail.jpg">
        <h2>Gmail</h2>
        <p>Email Service</p>
        <p>I was responsible for setting up and configuring all FTP servers for email services, ensuring their proper functionality through rigorous testing.</p>
    </section>
</section>
<br />
<!-- Small disclaimer -->
<p class="textoabajo">Just as a small disclaimer, I did NOT work on any of these projects (obviously). I dont have any public projects and didn't know what to put here. They are here just for the sake of this assignment.</p>

<!-- import partial -->
    <%- include("partials/footer"); %>
    
</body>