<head>
    <%- include("partials/header"); %>
    <link rel="stylesheet" type="text/css" href="css/services.css" /> <!--Link for the CSS specific por the services page-->
</head>
<body>
    <%- include("partials/content"); %>

    <h2>These are the services I can provide:</h2>


<sections class="services">
    <section class="service">
        <img src="images/desktopapp.jpg">
        <h2>Desktop Apps Programming</h2>
        <p>We provide expert Desktop App Programming services for various languages and Operative Systems.</p>
    </section>

    <section class="service">
        <img src="images/webdev.jpg">
        <h2>Web Development</h2>
        <p>Create stunning and functional websites designed to your needs.</p>
    </section>

    <section class="service">
        <img src="images/mobileapp.jpg">
        <h2>Mobile Apps</h2>
        <p>Develop custom mobile applications for iOS and Android platforms.</p>
    </section>
</sections>

    <%- include("partials/footer"); %>
    
</body>