/* contact.css, Jose Riera, 301284455, October 6, 2023 */

/* Panel part of the CSS */
.panel {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    text-align: center;
    float: left; 
    margin-right: 800px;
    margin-left: 20px; 
}

/* Form CSS code */
.contact-form {
    max-width: 600px;
    margin-left: 20px; 
    overflow: hidden; 
}

.contact-info h2 {
    text-align: center;
}

form {
    max-width: 100%;
    width: 100%;
}

label, input, textarea {
    display: block;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
