/* main.css, Jose Riera, 301284455, October 6, 2023 */



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffff;
}

section {
    margin: 20px;
}

/* CSS code for the welcome section. */
.welcome {
    text-align: center;
}

.welcome h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.welcome p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.welcome a {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent; 
    color: #007bff; 
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: color 0.3s;
}

.welcome a:hover {
    color: #0056b3; 
    font-size: 125%;
}

/* CSS code for the mission statement section. */
.mission-statement {
    text-align: center;
}

.mission-statement h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.mission-statement p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
